@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@1,9..40,300&family=Raleway:ital,wght@0,300;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,300;1,9..40,300&family=Raleway:ital,wght@0,300;1,300&display=swap');

body{
  overflow: hidden;
}

#mainDiv #first{
    position: absolute;
    font-family: 'DM Sans', sans-serif;
    font-family: 'Raleway', sans-serif;
    margin-left: 30px;
    margin-top: 295px;
}

#mainDiv #second{
    position: absolute;
    font-family: 'DM Sans', sans-serif;
    font-family: 'Raleway', sans-serif;
    margin-top: 25px;
    margin-right: 30px;
    right: 0;
    float: right;
}

#mainDiv #third{
    position: absolute;
    font-family: 'DM Sans', sans-serif;
    font-family: 'Raleway', sans-serif;
    margin-left: 30px;
    margin-top: 805px;
}

#mainDiv{
    position: absolute;
    background: repeating-linear-gradient(90deg, rgb(255, 255, 255),rgb(255, 255, 255) 10px, rgb(62, 150, 255,0.2) 10px,rgb(62, 150, 255,0.2) 20px);
    border: 2px solid rgba(0, 0, 0, 0.37);
    width: 71%;
    height: 94%;
    margin: auto;
    top: 25px;
    left: 430px;
    border-radius: 40px;
}

#listMaker{
    display: none;
    position: absolute;
    background: rgba(255, 255, 255, 0.8);
    border: 2px solid rgba(0, 0, 0, 0.37);
    width: 69%;
    height: 90%;
    margin: auto;
    top: 44px;
    left: 448px;
    border-radius: 40px;
    border-bottom-right-radius: 100px;
}

#listSave{
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: red;
    height: 100px;
    width: 100px;
    border-radius: 20px;
    border-bottom-right-radius: 200px;
    margin-right: 12px;
    margin-bottom: 12px;
    background: rgb(248, 229, 167);
    border: 2px solid rgba(0, 0, 0, 0.37);
    cursor: pointer;
}

#listSave:hover{
    background: rgb(253, 227, 140);
    cursor: pointer;
}

#listSave img:hover{
    width: 45px;
    margin-left: 23px;
    margin-top: 23px;
    transition: 0.1s linear;
}

#listSave img{
    margin-left: 25px;
    margin-top: 25px;
    rotate: -45deg;
    width: 40px;
    transition: 0.1s linear;
}

#closeMaker{
    position: absolute;
    right: 0;
    margin-right: 20px;
    margin-top: 20px;
}

#closeMaker img{
    width: 35px;
    cursor: pointer;
}